{% extends 'base.html.twig' %}

{% block body %}

<h1>Question</h1>
<h2>{{ question.title }}</h2>
<table>
   <tbody>
       {% for reponse in question.reponses %}
       <tr>
           <td>
               <b>Réponse de {{ reponse.user.username }}</b>
               <br>
               {{ reponse.body }}
           </td>
           <td>
            <div class="vote">
                <a id="vote-moins" href="{{ path ( 'reponse_vote', { id: reponse.id, vote: "▼" } ) }}" class="button tiny">-</a>
                <span class="success label">{{ reponse.vote }}</span>
                <a id="vote-plus" href="{{ path ( 'reponse_vote', { id: reponse.id, vote: "▲" } ) }}" class="button tiny">+</a>
            </div>
           </td>
       </tr>
       {% endfor %}
   </table>
   {{ form(form) }}
   <ul>
    <li>
        <a href="{{ path('question_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('question_edit', { 'id': question.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input class="button" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>
{% endblock %}
